<!-- custom-head.html -->

{% comment %}
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
{% endcomment %}

<style>
    {% comment %} Repair ugly font by original CSS and so on {% endcomment %}
    blockquote {
      border-left:1px solid #e5e5e5;
      margin:0;
      padding:0 0 0 20px;
      {% comment %} font-style:italic; {% endcomment %}
    }
    code, pre {
      font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
      font-weight: inherit;
      color: inherit;
      white-space: pre;
      background: #f8f8f8;
    }
    pre {
      padding:8px 15px;
      border-radius:5px;
      border:1px solid #e5e5e5;
      overflow-x: auto;
    }

    {% comment %} Aside nav (see aside.html) {% endcomment %}
    nav.toc {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        margin: 1em 0.5em;
        padding: 0 0.5em;
        background-color:#f2f6f9;
        border:1px solid #005ab2;
        border-radius: 5px;
    }

    {% comment %} ToC (see toc.html) {% endcomment %}
    .pagetoc {
        float: right;
        clear: right;
        max-width: 165px;
        border: solid 1px #e0e0e0;
        border-radius: 5px;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #fff;
        font-size: 0.85em;
        line-height: 1.5;
    }
    .pagetoc ul {
        margin: 0;
        padding: 0 0 0 2.0em;
        -moz-padding-start: 2.0em;
        -moz-padding-end: 0em;
        -webkit-padding-start: 2.0em;
        -webkit-padding-end: 0em;
        padding-inline-start: 2.0em;
        padding-inline-end: 0;
    }

    .toc-switch {
        display: none;
    }
    .toc-switch ~ label {
        display: block;
        float: right;
        clear: right;
    }
    .toc-switch ~ label:before {
        content: '\25BE';
    }
    .toc-switch ~ p, .toc-switch ~ ul {
        display: none;
    }
    .toc-switch:checked ~ label:before {
        content: '\D7';
    }
    .toc-switch:checked ~ p, .toc-switch:checked ~ ul {
        display: block;
    }

    @media print, screen and (max-width: 640px) {
      nav.pagetoc {
        display: none;
      }
    }

    {% comment %} Header (see headding.html) {% endcomment %}
    header nav {
        padding: 0.5rem 0 2rem 0;
        margin: 0;
        background-color: #ffffff;
    }

    {% comment %} Footer (see footer.html) {% endcomment %}
    footer p {
        text-align: start;
        padding: 0 1rem;
    }
</style>

<link rel="stylesheet" href="/static-sympa/css/syntax-github.css" />

<!-- end custom-head.html -->
