<!-- custom-head.html -->

{% comment %}
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
{% endcomment %}

<style>
    {% comment %} Complementary styles for documentation {% endcomment %}
    .doc blockquote {
      border-left:1px solid #e5e5e5;
      margin:0;
      padding:0 0 0 20px; /* LTR */
      {% comment %} font-style:italic; {% endcomment %}
    }
    [dir=rtl] .doc blockquote {
      padding-left: 0;
      padding-right: 20px;
    }
    .doc code, .doc pre {
      {% comment %} background: #f8f8f8; {% endcomment %}
      background: rgba(175,184,193,0.2);
      color: inherit;
      font-family: ui-monospace, SFMono-Regular, Consolas, Menlo, Monaco, "Roboto Mono", "Liberation Mono", "Courier New", Courier, monospace;
      white-space: pre;
    }
    .doc pre {
      padding:8px 15px;
      border-radius:5px;
      border:1px solid #e5e5e5;
      overflow-x: auto;
    }

    {% comment %} Aside nav (see aside.html) {% endcomment %}
    nav.toc {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        margin: 1em 0.5em;
        padding: 0 0.5em;
        background-color:#f2f6f9;
        border:1px solid #005ab2;
        border-radius: 5px;
    }

    {% comment %} ToC (see toc.html) {% endcomment %}
    .pagetoc {
        float: right;
        clear: right;
        max-width: 165px;
        border: solid 1px #e0e0e0;
        border-radius: 5px;
        margin: 0.5em;
        padding: 0.5em;
        background-color: #fff;
        font-size: 0.85em;
        line-height: 1.5;
    }
    .pagetoc ul {
        margin: 0;
        padding: 0 0 0 2.0em;
        -moz-padding-start: 2.0em;
        -moz-padding-end: 0em;
        -webkit-padding-start: 2.0em;
        -webkit-padding-end: 0em;
        padding-inline-start: 2.0em;
        padding-inline-end: 0;
    }

    .toc-switch {
        display: none;
    }
    .toc-switch ~ label {
        display: block;
        float: right;
        clear: right;
    }
    .toc-switch ~ label:before {
        content: '\25BE';
    }
    .toc-switch ~ p, .toc-switch ~ ul {
        display: none;
    }
    .toc-switch:checked ~ label:before {
        content: '\D7';
    }
    .toc-switch:checked ~ p, .toc-switch:checked ~ ul {
        display: block;
    }

    {% comment %} Header (see headding.html) {% endcomment %}
    header nav {
        padding: 0.5rem 0 2rem 0;
        margin: 0;
        background-color: #ffffff;
    }

    {% comment %} Footer (see footer.html) {% endcomment %}
    footer p {
        text-align: start;
        padding: 0 1rem;
    }

    {% comment %} Search form in top-bar {% endcomment %}
    div.searchform input[type=text] {
        background-color: transparent;
        height: 1.5rem;
        margin: 0;
        padding-left: 1.5rem;
    }
    div.searchform {
        background-color: #ffffff;
        display: inline-block;
        height: 1.5rem;
        line-height: 1.5;
        position: relative;
    }
    div.searchform:before {
        color: #005ab2;
        content: '\F002'; /* fa-search */
        font-family: FontAwesome;
        left: 0.5rem;
        position: absolute;
        top: 0.125rem;
    }
</style>

<link rel="stylesheet" href="/static-sympa/css/syntax-github.css" />

<style>
    {% comment %} Override styles for syntax highlighting {% endcomment %}
    div.language-bash .highlight span.c {
        font-style: inherit;
    }
</style>

<!-- end custom-head.html -->
