{% if page.layout == 'home' %}
    <h1 class="row"> {{ page.title | default: site.github.title }} </h1>
{% elsif page.path contains 'man/' %}
    <h1 class="row"> {{ site.title | default: site.github.title }} </h1>
{% elsif page.prev or page.up or page.next %}
    <nav>
    <p style='text-align: center;'>
    {% if page.prev %}<a href="{{ page.prev | replace: ".md", ".html" }}" title="Prev">&#x25c0;</a>{% else %}<span title="Prev">&#x25c0;</span>{% endif %}
    {% if page.up %}<a href="{{ page.up | replace: ".md", ".html" }}" title="Up">&#x23eb;</a>{% else %}<span title="Up">&#x23eb;</span>{% endif %}
    {% if page.next %}<a href="{{ page.next | replace: ".md", ".html" }}" title="Next">&#x25b6;</a>{% else %}<span title="Next">&#x25b6;</span>{% endif %}
    </p>
    </nav>
{% else %}
    <h1 class="row"> {{ page.title | default: "Documentation" }} </h1>
{% endif %}
    
