    <li class="{% if site.baseurl == '' and page.path == 'index.md' %}active{% endif %}">
        <a href="/">
            <i class="fa fa-home"></i>  Home
        </a>
    </li>

    <li class="{% if site.baseurl == '/sympa' %}active{% endif %}">
        <a href="#">
            <i class="fa fa-info-circle"></i> About
        </a>
        <ul class="vertical menu">
            <li class="{% if site.baseurl == '/sympa' and page.path contains 'README' %}active{% endif %}">
                <a href="/sympa/">
                    <i class="fa fa-info-circle"></i> About Sympa
                </a>
            </li>

            <li class="">
                <a href="https://github.com/sympa-community/sympa/releases/latest">
                    <i class="fa fa-download"></i> Download Source
                </a>
            </li>

            <li class="{% if site.baseurl == '/sympa' and page.path contains 'CONTRIBUTING' %}active{% endif %}">
                <a href="/sympa/CONTRIBUTING.html">
                    <i class="fa fa-gift"></i> Contributing to Sympa
                </a>
            </li>
        </ul>
    </li>

    <li class="{% if page.path contains 'manual/' or page.path contains 'help/' or page.path contains 'security/' %}active{% endif %}">
        <a href="#">
            <i class="fa fa-book"></i> Docs
        </a>
        <ul class="vertical menu">
            <li class="{% if page.path contains 'manual/' %}active{% endif %}">
                <a href="/manual/">
                    <i class="fa fa-book"></i> Sympa Administration Manual
                </a>
            </li>

            <li class="disabled">
                <span>
                    <i class="fa fa-question-circle"></i> Sympa Help
                    (coming later)
                </span>
            </li>

            <li class="{% if page.path contains 'security/' %}active{% endif %}">
                <a href="/security/">
                    <i class="fas fa-shield-alt"></i> Security Advisories
                </a>
            </li>
        </ul>
    </li>

    <li class="{% if page.path contains 'community/' or site.baseurl == '/sympa-contribs' %}active{% endif %}">
        <a href="#">
            <i class="fa fa-users"></i> Community
        </a>
        <ul class="vertical menu">
            <li class="{% if page.path contains 'community/lists' %}active{% endif %}">
                <a href="/community/lists.html">
                    <i class="fa fa-comments"></i> Mailing Lists
                </a>
            </li>

            <li class="">
                <a href="https://github.com/sympa-community/">
                    <i class="fab fa-github-square"></i> GitHub
                </a>
            </li>

            <li class="{% if site.baseurl == '/sympa-contribs' %}active{% endif %}">
                <a href="/sympa-contribs/">
                    <i class="fa fa-gift"></i> sympa-contribs
                </a>
            </li>
        </ul>
    </li>

    <li class="">
      <form method="get" id="searchform" action="https://duckduckgo.com/">
        <fieldset form="searchform">
          <span>
            <input type="hidden" name="sites"
             value="sympa.community"/>
            <input type="hidden" name="k7" value="#ffffff"/>
            <input type="hidden" name="k8" value="#222222"/>
            <input type="hidden" name="k9" value="#00278e"/>
            <input type="hidden" name="kx" value="#20692b"/>
            <input type="hidden" name="kj" value="#fafafa"/>
            <input type="hidden" name="kt" value="p"/>
            <div class="searchform">
              <input type="text" name="q" placeholder="Search…"
               aria-label="Search this site on DuckDuckGo" />
            </div>
          </span>
        </fieldset>
      </form>
    </li>

    <li class="">
        <a href="{{ site.github.repository_url }}/tree/master/{{ page.path }}"
         title="View/edit source">
            <i class="fab fa-markdown"></i>
        </a>
    </li>
